{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
{% endblock %}
{% block title %}<title>Login</title>{% endblock %}

{% block content %}
<!------------Form-------------->
<img src="{{ url_for('static', filename = './group exercise 3.jpg')}}">
<div class="box">
    <div class="card">
        <legend>Please Enter the Login Details </legend>
        <form id="login" action="{{ url_for('Login') }}" name="login" method="post" autocomplete="off">
            <div class="msg">{{ msg }}</div>

            <label for="email">Email Address *</label>
            <input type="email" name="email" id="email" placeholder="Enter email address" required="required" />


            <label for="password">password *</label>
            <input type="password" name="password" id="password" placeholder="password" required="required" />

            <p>
                <input type="submit" value="submit" />
                <input type="reset" value="Cancel" />
            </p>

        </form>
    </div>
</div>

{% endblock %}