<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Lincoln Fitness</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='trainerhome.css')}}">

    <div class="name">
        <nav class="navbar navbar-default navbar-static-top">
            <h1 class="logo anim">Lincoln<span>Fitness</span></h1>
            <ul>
                <li><a href="/trainerhome_details">Details</a></li>
                <li><a href="/trainee">Trainee</a></li>
                <li><a href="/traineeattendance">Class Attendance</a></li>
            </ul>
            <a href="/Home" class="btn">Log out</a>
        </nav>
    </div>

    <div class="main">
        <h1>Welcome </h1><h1 class="logo anim">Trai<span>ner</span></h1>
        <h1>Desire and talent for helping others to live the very best life possible.</h1>
        <h1><span>Believe in yourself and you will be unstoppable</span></h1>
    </div>

